<router-outlet></router-outlet>
<div>
  <button type="button" class="btn btn-primary btn-lg taskbutton"  data-toggle="modal" data-target="#exampleModalScrollable">COMPAIGN NAME</button>
</div>
<div>
  &nbsp;
  &nbsp;
  &nbsp;
</div>
<div class="row">
  <div class="col-md-12">
    <card >
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>AGE</th>
            <th>STATE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.username}}</td>
            <td>{{item.email}}</td>
            <td>{{item.age}}</td>
            <td>
              <span class="label label-info">info</span>
            </td>
          </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
            autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title heading" id="exampleModalScrollableTitle">CREATE COMPAIGN </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-dialog modal-dialog-scrollable" >

      <div class="form-group">
        <i class="fa fa-user icon"> </i>
      <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()" aria-placeholder="Contact status">
        <option>Micheal</option>
        <option>Haris</option>
        <option>Bilal</option>
      </select>
      </div>

    <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
   </div>
